<!DOCTYPE html>


<style>
body {
 	text-align: center;
 }
 
 .hero-image {
 	margin: auto;
 }
 
 .footer, .header {
 	background-color: tomato;
    color: #ffffff;
 }
 
 .text {
 	background-color: #EDEDED;
    color: #000000;
    padding: 30px;
    text-align: left;
 }
 
</style>

<div class="header">
<header>
	<h1>ALPHA BLOG HOMEPAGE</h1>
</header>
</div>


<%= link_to 'About', about_path %>

<body>
<div class="hero-image">
	<img src=https://png.pngtree.com/thumb_back/fw800/back_pic/03/55/06/87579bdbf934697.jpg>
</div>

<div class="text">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus neque nisi, ac maximus risus tempor eu. Cras sed magna quis est sollicitudin sagittis. Mauris euismod nunc et dolor volutpat, vel suscipit purus malesuada. Vestibulum varius lacus ac velit porta elementum. Praesent eu neque lorem. Quisque hendrerit risus diam, non finibus lorem euismod ut. Etiam pharetra, nulla non bibendum finibus, nibh justo volutpat purus, sit amet congue velit leo vitae massa. Aenean vel mi enim. Praesent non dolor nec justo vehicula laoreet ut at elit. Vestibulum ligula neque, dignissim vitae est ut, ornare lacinia ex. In hac habitasse platea dictumst. Phasellus a mauris pellentesque, pretium massa ut, hendrerit magna. Vestibulum vestibulum neque eget viverra maximus. In mauris neque, lobortis quis tempor sit amet, bibendum eget erat.</p>
</div>

<br>

<div class="text">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus neque nisi, ac maximus risus tempor eu. Cras sed magna quis est sollicitudin sagittis. Mauris euismod nunc et dolor volutpat, vel suscipit purus malesuada. Vestibulum varius lacus ac velit porta elementum. Praesent eu neque lorem. Quisque hendrerit risus diam, non finibus lorem euismod ut. Etiam pharetra, nulla non bibendum finibus, nibh justo volutpat purus, sit amet congue velit leo vitae massa. Aenean vel mi enim. Praesent non dolor nec justo vehicula laoreet ut at elit. Vestibulum ligula neque, dignissim vitae est ut, ornare lacinia ex. In hac habitasse platea dictumst. Phasellus a mauris pellentesque, pretium massa ut, hendrerit magna. Vestibulum vestibulum neque eget viverra maximus. In mauris neque, lobortis quis tempor sit amet, bibendum eget erat.</p>
</div>
</body>

<footer>

<div class="footer">
	<h1>WELCOME TO MY SITE</H1>
</div>

</footer>
